.header {
  background: url('/src/assets/images/background/Tokyo.png') no-repeat center;
  padding-bottom: 60%;
  background-size: cover;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  display: inline;
}

.header__navbar-item {
  color: var(--primary-color);
}