.header__navbar-item,
.header__content-title,
.header__content-description,
.header__content-question,
.header__content-btn {
  color: var(--primary-color);
  font-family: Lato;
}

.benefits__list-title,
.benefits__list-description,
.benefits__heading {
  font-family: Lato;
  color: var(--secondary-color);
}